@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-dark: #294b29;
  --brand-green: #50623a;
  --brand-green2: #a7d397;
  --brand-light: #789461;
  --brand-white: #dbe7c9;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
